@font-face {
  font-family: Nord;
  src: url("../styles/fonts/Nord/Nord-Regular.ttf");
}

@font-face {
  font-family: Nord-light;
  src: url("../styles/fonts/Nord/Nord-Light.ttf");
}

@font-face {
  font-family: Merriweather-bold;
  src: url("../styles/fonts/Merriweather/merriweather-all-900-normal.woff");
}

@font-face {
  font-family: Merriweather;
  src: url("../styles/fonts/Merriweather/merriweather-all-400-normal.woff");
}

@font-face {
  font-family: Roboto;
  src: url("../styles/fonts/Roboto-Light.ttf");
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  background-color: black;
}

body {
  background-color: black;
  font-family: Merriweather, serif;
  height: 1080px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  user-select: none;
  width: 1920px;
}

.screens {
  background-color: #e5e5e5;
  height: 1080px;
  width: 1920px;
}

h1 {
  font-family: Nord, sans-serif;
}

p {
  color: #364015;
}

span {
  font-family: Roboto, sans-serif;
}

img {
  -webkit-user-drag: none;
}

* {
  -webkit-focus-ring-color: rgb(255 255 255 / 0%) !important;
  outline: none !important;
  -webkit-tap-highlight-color: transparent !important;
  -webkit-tap-highlight-color: rgb(255 255 255 / 0%) !important;
}

*:focus,
*:focus-visible {
  -webkit-focus-ring-color: rgb(255 255 255 / 0%) !important;
  outline: none !important;
  -webkit-tap-highlight-color: transparent !important;
  -webkit-tap-highlight-color: rgb(255 255 255 / 0%) !important;
}

button,
.btn {
  -webkit-focus-ring-color: rgb(255 255 255 / 0%) !important;
  outline: none !important;
  -webkit-tap-highlight-color: rgb(255 255 255 / 0%) !important;
}

.btn.primary {
  align-items: center;
  background-color: #364015;
  border-bottom: 5px solid #ffb600;
  box-shadow: 0 4px 13px 1px rgb(54 64 21 / 22%);
  color: #e5e5e5;

  /* display: flex; */
  font-family: Nord, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  height: 45px;
  line-height: 1%;
  text-align: center !important;
}

.btn.primary span {
  align-items: center;
  color: #e5e5e5;
  display: flex;
  font-family: Nord, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 123%;
  text-align: center;
}

.btn.secondary {
  background: #f1eee9;
  border: 1px solid #364015;
  box-shadow: 0 0 4px rgb(54 64 21 / 49%);
  color: #364015;
  font-family: Nord, sans-serif;
  font-size: 27px;
  font-style: normal;
  font-weight: 300;
  height: 45px;
  line-height: 43%;
}

.swatch-button {
  border-radius: 5px;
  height: 90px;
  margin: 4px;
  padding: 0;
  width: 90px;
}

.btn.begin {
  height: 60px;
  left: 138px;
  position: absolute;
  top: 852px;
  width: 275px;
}

.attract-screen h1 {
  color: #364015;
  font-family: Nord, sans-serif;
  font-size: 69px;
  font-style: normal;
  font-weight: 700;
  height: 74.9px;
  left: calc(50% - 500px / 2);
  line-height: 83px;
  position: absolute;
  text-align: center;
  top: calc(50% - 74.9px / 2 - 90.39px);
  width: 500px;
}

.attract-screen p {
  color: #364015;
  font-family: Merriweather, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  height: 76px;
  left: calc(50% - 375.91px / 2 + 8.82px);
  letter-spacing: 0.02em;
  line-height: 150%;
  position: absolute;
  text-align: center;
  top: calc(50% - 76px / 2 + 38px);
  width: 375.91px;
}

.studio-screen .original-preview {
  background: #f1eee9;
  height: 185px;
  left: 56px;
  position: absolute;
  text-align: center;
  top: 895px;
  width: 119px;
}

.studio-screen .original-preview p {
  font-family: Merriweather, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 123%;
  margin-top: 30px;
}

.pottery-screen {
  height: 1080px;
  position: absolute;
  width: 1920px;
  z-index: 1;
}

.scene-container {
  height: 1080px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

/* Change z-index during firing phase */
.firing .scene-container {
  z-index: 3 !important;
}

.stats {
  left: auto !important;
  right: 0 !important;
}

.render-stats {
  background-color: rgb(11 22 33 / 80%);
  position: absolute;
  right: 0;
  top: 0;
}

.drawable-canvas {
  background-color: #f5f5f5;
  border: #ccc 1px solid;
}

.selection-gallery-screen .side-panel p {
  align-items: center;
  color: #364015;
  display: flex;
  font-family: Merriweather, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  height: 120px;
  left: calc(50% - 279.23px / 2 - 37.48px);
  letter-spacing: 0.02em;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: calc(50% - 120px / 2);
  width: 279.23px;
}

.selections-container {
  height: 1080px;
  left: 550px;
  position: absolute;
  top: 0;
  width: 1370px;
}

.selection-button {
  background: #fff;
  box-shadow: 0 4px 13px 1px rgb(54 64 21 / 22%);
  height: 460px;
  position: absolute;
  text-decoration: none;
  top: calc(50% - 460px / 2 - 265px);
  width: 350px;
}

.selection-button .bottom-bar {
  background: #364015;
  border-bottom: 5px solid #ffb600;
  height: 60px;
  left: 0;
  position: absolute;
  top: 400px;
  width: 350px;
}

.selection-button .bottom-bar h3 {
  align-items: flex-end;
  color: #e5e6e5;
  font-family: Nord, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  height: 60px;
  left: 0;
  letter-spacing: 0.02em;
  line-height: 246.19%;
  position: absolute;
  text-align: center;
  top: 4px;
  width: 100%;
}

.selection-button:nth-of-type(1) {
  left: calc(50% - 350px / 2 - 420px);
  top: calc(50% - 459.89px / 2 - 264.95px);
}

.selection-button:nth-of-type(2) {
  left: calc(50% - 350px / 2 - 0px);
  top: calc(50% - 459.89px / 2 - 264.95px);
}

.selection-button:nth-of-type(3) {
  left: calc(50% - 350px / 2 + 420px);
  top: calc(50% - 459.89px / 2 - 264.95px);
}

.selection-button:nth-of-type(4) {
  left: calc(50% - 350px / 2 - 420px);
  /* opacity: 0.8; */
  /* pointer-events: none; */
  top: calc(50% - 459.89px / 2 + 264.95px);
}

.selection-button:nth-of-type(5) {
  left: calc(50% - 350px / 2 - 0px);
  /* opacity: 0.8; */
  /* pointer-events: none; */
  top: calc(50% - 459.89px / 2 + 264.95px);
}

.selection-button:nth-of-type(6) {
  left: calc(50% - 350px / 2 + 420px);
  /* opacity: 0.8; */
  /* pointer-events: none; */
  top: calc(50% - 459.89px / 2 + 264.95px);
}

.selection-screen h2 {
  font-family: Nord, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  height: 154px;
  left: 965px;
  letter-spacing: 0.02em;
  line-height: 48px;
  position: absolute;
  top: 218px;
  width: 667px;
}

.selection-screen h3 {
  font-family: Merriweather, serif;
  font-size: 30px;
  font-weight: 400;
  left: 965px;
  letter-spacing: 0.02em;
  line-height: 48px;
  position: absolute;
  top: 339px;
}

.selection-screen p {
  color: #364015;
  font-family: Merriweather, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  left: 965px;
  letter-spacing: 0.02em;
  line-height: 48px;
  position: absolute;
  top: 407px;
  width: 567px;
}

.selection-screen .gatsby-image-wrapper {
  height: 807px;
  left: 335px;
  position: absolute;
  top: 164px;
  width: 498px;
}

.selection-screen .btn.back {
  left: 97px;
  position: absolute;
  top: 55px;
}

.selection-screen .btn.select {
  height: 60px;
  left: 965px;
  position: absolute;
  top: 911px;
  width: 350px;
}

.side-panel {
  background-color: rgb(238 237 231 / 90%);
  filter: drop-shadow(0 5px 12px rgb(54 64 21 / 33%));
  height: 100%;
  position: absolute;
  top: 0;
  width: 550px;
  z-index: 5;
}

.side-panel.left {
  left: 0;
}

.side-panel.right {
  right: 0;
}

.btn {
  background-color: antiquewhite;
  border: solid 1px #ccc;
  border-radius: 0%;
  padding: 15px;
}

.btn.home {
  border: 4px solid #364015;
  height: 45px;
  left: 2%;
  position: fixed;
  top: 5%;
  width: 183px;
  z-index: 5;
}

.btn.home .label {
  margin-left: 40px;
  margin-right: 7px;
}

span.icon-home {
  background: url(./icons/home.svg) no-repeat top left;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  height: 27px;
  left: 15px;
  position: absolute;
  top: 5px;
  width: 27px;
}

.btn.fire {
  background: none;
  height: 90px;
  position: absolute;
  right: 145px;
  top: 997px;
  width: 250px;
  z-index: 99;
}

.btn.fire .outer {
  background: #ff2626;
  border: 1px solid #be1414;
  border-radius: 10px;
  bottom: 35.13px;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%), inset 0 0 8px rgb(160 8 8 / 67%);
  box-sizing: border-box;
  height: 90px;
  left: calc(50% - 250px / 2);
  position: absolute;
  width: 250px;
}

.btn.fire .inner {
  background: #ff2626;
  border-radius: 10px;
  bottom: 9px;
  box-shadow: 1px 1px 4px rgb(0 0 0 / 45%);
  box-sizing: border-box;
  height: 70.48px;
  left: calc(50% - 195.79px / 2 + 0.01px);
  position: absolute;
  width: 195.79px;
}

.btn.fire span {
  color: #fff;
  font-family: Nord, sans-serif;
  font-size: 27px;
  font-style: normal;
  font-weight: 900;
  left: 31%;
  position: absolute;
  text-align: center;
  top: 17%;
}

.firing-screen {
  background-color: #111;
  height: 100%;
  width: 100%;
}

.firing-screen .firing-progress {
  background-image: url(./icons/flame.svg);
  background-position: center 26%;
  background-repeat: no-repeat;
  left: 50%;
  margin: 0 auto;
  margin-top: 230px;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  width: 400px;
}

.firing-screen .ring-container div {
  margin: 0 auto;
  text-align: center;
}

.firing-screen .firing-progress h1 {
  color: #f1eee9;
  font-weight: 900;
  letter-spacing: 0.02em;
  line-height: 48px;
  margin-top: 45px;
}

.factoids-bar {
  background-color: #f0eee8;
  bottom: 0%;
  box-shadow: 0 0 15px -3px rgb(54 64 21 / 55%);
  height: 154px;
  position: absolute;
  width: 100%;
  z-index: 4;
}

.factoids-bar h2 {
  color: #364015;
  font-family: Nord, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  height: 48px;
  left: 52.39px;
  letter-spacing: 0.02em;
  line-height: 48px;
  position: absolute;
  top: 34px;
  width: 888px;
}

.factoids-bar .fade-show-element {
  color: #364015;
  font-family: Merriweather;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  height: 86px;
  left: 1136.12px;
  letter-spacing: 0.02em;
  line-height: 40px;
  opacity: 0;
  position: absolute;
  top: 34px;
  transition: opacity 0.5s ease-out;
  transition-delay: 0s;
  width: 730px;
}

.factoids-bar .fade-show-element.show {
  opacity: 1;
  transition-delay: 0.5s;
}

.results-screen .original-preview {
  background: #f1eee9;
  height: 57px;
  position: absolute;
  text-align: center;
  top: 875px;
  width: 190px;
}

.results-screen .original-preview.your {
  left: 500px;
}

.results-screen .original-preview.orig {
  left: 1220px;
}

.results-screen .original-preview p {
  font-family: Merriweather, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 123%;
  margin-top: 12px;
}

.menu-hud {
  height: 100%;
  pointer-events: none;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.menu-hud h1 {
  color: #364015;
  font-family: Nord;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  height: 39.74px;
  left: 57.92px;
  letter-spacing: 0.02em;
  line-height: 48px;
  position: absolute;
  top: 60.42px;
  width: 387.76px;
}

.menu-hud p {
  color: #364015;
  font-family: Merriweather, sans-serif;
  font-size: 15px;
  font-style: italic;
  font-weight: 700;
  height: 48px;
  left: 92px;
  letter-spacing: 0.02em;
  line-height: 48px;
  position: absolute;
  text-align: center;
  top: 118px;
}

.menu-hud span.info-icon {
  background: url(./icons/info.svg) no-repeat top left;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  height: 18px;
  left: -28px;
  position: absolute;
  top: 14px;
  width: 18px;
}

.menu-hud .target-mesh-swatches {
  position: absolute;
  right: 0%;
  top: 10%;
  width: 10%;
}

.menu-hud .color-swatches {
  height: 567px;
  left: 30.5px;
  position: absolute;
  top: 187.87px;
  width: 480px;
}

.menu-hud .swatch-container {
  float: left;
  height: 134px;
  margin: 0;
  margin-bottom: 18px;
  pointer-events: all;
  text-align: center;
  width: 160px;
}

.menu-hud .swatch-container span {
  color: #364015;
  font-family: Merriweather, serif;
  font-size: 15px;
  font-style: normal;

  /* font-weight: 300; */
  height: 45px;
  letter-spacing: 0.02em;
  line-height: 44px;
  pointer-events: all;
  text-align: center;
  width: 160px;
}

.menu-hud .swatch-button {
  border: 1.5px solid #364015;
  border-radius: 50%;
  box-sizing: border-box;
  height: 90px;
  pointer-events: all;
  width: 90px;
}

.menu-hud .eraser-swatch {
  height: 140px;
  left: 195px;
  position: absolute;
  top: 799px;
  width: 160px;
}

.menu-hud .eraser-swatch .swatch-container span {
  font-weight: 700;
}

.menu-hud .swatch-button.eraser {
  background-color: none !important;
  background-image: url(./icons/eraser.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 4px solid #364015;
  border-radius: 15%;
}

.background {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.background .gatsby-image-wrapper {
  left: -30px;
}

.results-screen .background .gatsby-image-wrapper {
  left: 0px;
}

/* Layer that can be placed over background
images to blur and gray out */
.blur-overlay {
  /* backdrop-filter: blur(20px); */
  background: rgb(134 134 134 / 37%);
  height: 1080px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9;
}

/* Layer that can be placed over background
images to darken and de-emphasize */
.darken-overlay {
  background: rgb(23 23 23 / 35%);
  height: 1080px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* Layer that can be placed over entire app for
fade to black resets */
.fade-black-overlay {
  background: rgb(0 0 0);
  height: 1080px;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: opacity 1s;
  width: 100%;
  z-index: 99;
}

.fade-black-overlay.show {
  opacity: 1;
}

/* Modals */

/* blurred background modal for bootstrap v4 */
body.modal-open > :not(.modal) {
  filter: blur(5px);
}

.modal-content {
  background-color: #ebe9e3;
  padding: 50px;
  text-align: center;
}

.modal-content h4 {
  align-items: center;
  color: #364015;
  font-family: Nord, sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: 122.69%;
  margin-bottom: 30px;
  margin-top: 5px;
}

.modal-content p {
  align-items: center;
  color: #364015;
  font-family: Merriweather, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  height: 123px;
  letter-spacing: 0.02em;
  line-height: 162.19%;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  top: calc(50% - 123px / 2 - 17.3px);
  width: 532px;
}

.modal-content .btn {
  height: 45px;
  margin: 0 auto;
  width: 250px;
}
